<title>Angular Calculator</title>

<br><br>
<div class ="box">

  <h1 class = "namaeCal">Simple Calculator</h1>

  <p class="p1">First Number:&nbsp;<input (input) = "getNum1(isNum1.value)" id = "isNum1" type="text" #isNum1/></p>
  <p class="p2">Second Number:&nbsp;<input (input) = "getNum2(isNum2.value)" id = "isNum2" type="text" #isNum2/></p>


    <button (click) = "clickAdd()">+</button>&nbsp;&nbsp;
    <button (click) = "clickSub()">-</button>&nbsp;&nbsp;
    <button (click) = "clickMul()">*</button>&nbsp;&nbsp;
    <button (click) = "clickDiv()">/</button>&nbsp;&nbsp;

  <br><br>
  <p>Result:&nbsp;<output type = "text" [value] = "res" id = "res"></output></p>

</div>